@import '../../partials/partials';

.queue-join {
    margin-bottom: 50px;
    @include flex-center;
    gap: 15px;

    .form-group {
        margin-bottom: 0 !important;
        flex-direction: row;

        &__label {
            font-size: $xxxxs;
            text-align: center;
        }

        &__input {
            font-size: $xxxxs;
            background-color: $dominant;
            border-color: $dominant;
            z-index: 1;

            &:focus-visible {
                background-color: $secondary;
                border-color: $secondary;
                color: $accent;

                ~ .form-group__icon {
                    color: $accent;
                    opacity: 1;
                }
            }
        }

        &__icon {
            z-index: 2;
        }
    }

    &__form-btn {
        border-radius: 50%;

        background-color: $secondary;
        color: $dominant;

        transition: background-color 0.25s, color 0.25s;

        &:disabled {
            opacity: 0.3;
        }

        &:enabled:hover {
            background-color: $dominant;
            color: $secondary;
        }

        &-icon {
            padding: 10px;
            font-size: $xs;
        }
    }
}
