@import '../../partials/partials';

.use-cases {
    &__other-sentence {
        width: 90%;

        margin: 0 auto;
        padding: 1em;
        padding-top: 0;
        flex: 1;

        font-size: $xxxs;
        font-style: italic;
        text-align: justify;

        opacity: 0.75;
        order: 3;
    }
}
