@import '../../partials/partials';

.section {
    @include flex-center;

    background-color: $dominant;

    &--dark {
        background-color: $secondary;
    }

    &__container {
        position: relative;

        width: 100%;
        max-width: 1280px;

        @include flex-center;
        flex-direction: column;
        gap: 50px;

        @include devices(tablet) {
            width: 80%;
        }

        @include devices(laptop) {
            width: 90%;
            flex-direction: row;
        }
    }
}
