// Partials
@use '../../partials/colors';
@use '../../partials/sizes';
@use '../../partials/mixins';

.section {
    &__box {
        padding: 2.4em;

        order: 2;
        z-index: 2;

        @include mixins.devices(laptop) {
            flex: 1;
        }
    }

    &__heading {
        margin-bottom: 20px;

        font-size: sizes.$xl;
        font-weight: 300;

        text-align: center;

        @include mixins.devices(desktop) {
            font-size: sizes.$xxl;
        }
    }

    &__article {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;

        text-align: justify;
    }

    &__paragraph {
        font-size: sizes.$xxs;

        @include mixins.devices(laptop) {
            font-size: sizes.$xs;
        }
    }

    &__image {
        position: absolute;

        width: 100%;
        max-width: 100%;

        @include mixins.flex-center;

        opacity: 0.3;
        z-index: 1;

        @include mixins.devices(laptop) {
            position: static;
            opacity: 1;
            flex: 1;
        }

        &--left {
            order: 1;
        }

        &--inner {
            width: 75%;
            margin: 0 auto;
        }

        &--right {
            order: 3;
        }
    }
}
