// Partials
@use '../../partials/colors';
@use '../../partials/sizes';
@use '../../partials/mixins';

.section {
    @include mixins.flex-center;

    background-color: colors.$dominant;

    &--dark {
        background-color: colors.$secondary;
    }

    &__container {
        position: relative;

        max-width: 1280px;

        overflow: hidden;

        @include mixins.flex-center;
        gap: 50px;

        @include mixins.devices(tablet) {
            width: 80%;
        }

        @include mixins.devices(laptop) {
            width: 90%;
        }
    }
}
