// Partials
@use '../../partials/colors';
@use '../../partials/sizes';
@use '../../partials/mixins';

.advantages {
    padding: 2.4em;

    display: flex;
    flex-direction: column;

    color: colors.$dominant;

    @include mixins.devices(laptop) {
        padding: 0;

        flex-direction: row;
        align-items: flex-start !important;
    }

    &__seller,
    &__client {
        position: relative;
        overflow: hidden;
    }
}
