@import '../../partials/partials';

.section__container {
    &.advantages {
        $self: '.advantages';

        padding: 2.4em;

        flex-direction: column;

        color: $dominant;

        @include devices(laptop) {
            padding: 0;

            flex-direction: row;
            align-items: flex-start;
        }

        #{$self}__seller,
        #{$self}__client {
            position: relative;

            width: 100%;
        }
    }
}
