@import '../../partials/partials';

.use-cases {
    &__other-sentence {
        width: 100%;
        padding: 1em;
        padding-top: 0;
        flex: 1;

        font-size: $xxs;
        font-style: italic;
        text-align: justify;

        opacity: 0.75;
        order: 3;

        @include devices(laptop) {
            font-size: $xs;
        }
    }
}
