@import '../../partials/partials';

.navbar {
    position: sticky;
    left: 0;
    top: 0;

    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;

    background-color: $secondary;

    box-shadow: $shadow-xl;

    z-index: 99;

    &__nav {
        position: absolute;
        left: 0;
        top: 80px;

        width: 100%;
        height: calc(100vh - 80px);
        transform: translateX(-100%);

        @include flex-center;
        flex-direction: column;

        background-color: $secondary;

        transition: transform 0.5s;

        @include devices(laptop) {
            position: static;
            height: 80px;
            transform: translateX(0);

            align-items: flex-end;

            background-color: transparent;
        }

        &--open {
            transform: translateX(0);
        }
    }

    &__heading {
        margin-bottom: 30px;

        font-size: $xxxl;
        color: $dominant;

        @include devices(laptop) {
            display: none;
        }
    }

    &__hamburger {
        padding: 10px;

        font-size: $l;
        color: $dominant;

        transition: transform 0.25s;

        @include devices(laptop) {
            display: none;
        }

        &--open {
            transform: rotate(90deg);
        }
    }
}

.menu {
    width: 100%;

    @include flex-center;
    flex-direction: column;
    gap: 20px;

    @include devices(laptop) {
        width: 75%;
        flex-direction: row;

        margin-right: 30px;
    }

    @include devices(desktop) {
        width: 50%;
    }

    &__item {
        width: 75%;
        padding: 0.5em;

        border: 3px solid $dominant;
        border-radius: 15px;

        color: $dominant;

        box-shadow: $shadow-lg;
        opacity: 0.75;

        transition: color 0.25s, opacity 0.25s;

        &:active {
            border-color: $accent;
            color: $accent;
            opacity: 1;
        }

        @include devices(laptop) {
            position: relative;
            overflow: hidden;

            &:after {
                content: '';

                position: absolute;
                bottom: 10%;
                left: 0;

                width: 100%;
                height: 2px;
                transform: translateX(-100%);

                opacity: 1;
                background-color: $dominant;

                transition: opacity 0.25s, transform 0.25s;
            }

            &:hover::after {
                transform: translateX(0);
            }
        }

        @include devices(laptop) {
            border: none;
            box-shadow: none;

            color: $secondary;

            &:hover {
                opacity: 1;
            }
        }

        a {
            width: 100%;
            height: 100%;

            @include flex-center;

            font-size: $xs;
            color: $dominant;

            @include devices(laptop) {
                font-size: $xxs;
            }
        }
    }
}
