@import '../../partials/partials';

.dashboard {
    &__navbar {
        width: 100%;
        height: 80px;

        @include flex-center;
        justify-content: space-between;

        background-color: $secondary;
        box-shadow: $shadow-xl;
    }

    &__logo {
        height: 80%;
    }

    &__account {
        @include flex-center;
    }

    &__email {
        max-width: 60%;
        font-size: $xxxxs;
        color: $dominant;

        overflow-x: scroll;

        &--mobile {
            display: block;

            @include devices(laptop) {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @include devices(laptop) {
                display: block;
            }
        }
    }

    &__logout {
        padding: 10px;
        font-size: $s;

        color: $accent;

        opacity: 0.75;

        transition: opacity 0.25s;

        &:hover {
            opacity: 1;
        }
    }
}
