@import '../../partials/partials';

.section-data-group {
    width: 100%;
    margin-bottom: 20px;

    @include flex-center;
    flex-direction: column;

    &__key {
        font-size: $xxs;
        color: $accent;
    }

    &__value {
        font-size: $xxxxs;
    }

    hr {
        width: 100%;
        margin-top: 10px;

        border-color: $secondary;
        opacity: 0.2;
    }
}
