@import '../../partials/partials';

.side-menu {
    width: 100%;

    @include flex-center;

    background-color: $accent;
    box-shadow: $shadow-xl;

    @include devices(laptop) {
        width: 25%;
        align-items: flex-start;
    }

    @include devices(desktop) {
        width: 15%;
    }

    &__buttons {
        @include flex-center;

        @include devices(laptop) {
            width: 80%;
            margin-top: 50px;
            flex-direction: column;

            gap: 15px;
        }
    }

    &__button {
        padding: 10px;

        @include flex-center;
        justify-content: space-between;

        opacity: 0.5;

        transition: opacity 0.25s, color 0.25s;

        &:hover {
            opacity: 1;
        }

        &--selected {
            color: $dominant;
            opacity: 1;

            &:hover {
                cursor: default;
            }
        }

        @include devices(laptop) {
            width: 100%;

            background-color: $secondary;
            color: $dominant;

            border-radius: 20px;
            box-shadow: $shadow-md;

            &--selected {
                background-color: $dominant;
                color: $accent;
            }
        }
    }

    &__button-icon {
        font-size: $xs;
        color: inherit;

        @include devices(laptop) {
            padding-left: 20px;
            font-size: $xxxs;
        }
    }

    &__button-text {
        display: none;
        padding-right: 20px;

        font-size: $xxxs;
        color: inherit;

        @include devices(laptop) {
            display: inline-block;
        }
    }
}
