@import '../../partials/partials';

.button {
    position: relative;

    @include flex-center;
    width: 100%;

    margin: 1em auto;
    padding: 0.5em;

    @include flex-center;

    font-size: $xxs;

    background-color: $accent;
    color: $secondary;

    border-radius: 25px;
    box-shadow: $shadow-xl;

    transition: background-color 0.25s, color 0.25s;

    @include devices(laptop) {
        font-size: $xs;
    }

    &:hover {
        background-color: $dominant;
        color: $secondary;

        cursor: pointer;
    }

    i {
        position: absolute;
        top: 50%;
        right: 5%;

        transform: translateY(-50%);

        font-size: $s;

        @include devices(laptop) {
            font-size: $m;
        }
    }

    &--secondary {
        background-color: $secondary;
        color: $dominant;

        border: 3px solid $secondary;
    }

    &--big {
        @include devices(desktop) {
            padding: 0.3em;
            font-size: $s;
        }
    }
}
