@import '../../partials/partials';

.copyright {
    width: 100%;
    padding: 1em;

    @include flex-center;

    background-color: #20252b;

    &__sentence {
        font-size: $xxxs;
        text-align: center;

        color: $dominant;
    }
}
