@import '../../partials/partials';

.copyright {
    width: 100%;
    height: 40px;

    margin-top: 20px;
    padding: 10px;

    @include flex-center;

    background-color: #20252b;

    &__sentence {
        font-size: $xxxxs;
        text-align: center;

        color: $dominant;
    }
}
