@import '../partials/partials';

.dashboard {
    width: 100%;
    min-height: 100vh;

    @include flex-center;
    flex-direction: column;
    justify-content: space-between;

    background-color: $dominant;

    &__image {
        display: none;

        flex: 1;
        padding: 2em;

        @include devices(laptop) {
            @include flex-center;
        }
    }

    &__page {
        width: 100%;
        flex: 1;

        @include flex-center;
        justify-content: space-between;
        flex-direction: column;

        @include devices(laptop) {
            flex-direction: row;

            display: -ms-flexbox;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-box;
        }
    }

    &__content {
        width: 100%;
        padding: 50px;
        flex: 1;

        @include flex-center;
        flex-direction: column;
        gap: 20px;

        @include devices(laptop) {
            width: 75%;
        }

        @include devices(desktop) {
            width: 80%;
        }
    }

    &__header {
        margin-top: 50px;
        font-size: $s;

        @include devices(laptop) {
            margin-top: 0;
        }

        &-icon {
            padding: 5px;
        }

        &-text {
        }
    }

    &__copyright {
        margin-top: 0 !important;
    }
}
