@import '../partials/partials';

.auth {
    width: 100%;
    flex: 1 0 auto;

    @include flex-center;
    flex-direction: column;
    justify-content: space-between;

    &__navbar {
        width: 100%;
        height: 80px;

        @include flex-center;

        background-color: $secondary;
        box-shadow: $shadow-xl;

        @include devices(laptop) {
            justify-content: flex-start;
        }
    }

    &__logo {
        height: 100%;
    }

    &__content {
        width: 100%;
        max-width: 1280px;

        gap: 50px;

        @include flex-center;
    }

    &__image {
        display: none;

        width: 35%;
        padding: 2em;

        @include devices(laptop) {
            @include flex-center;
        }
    }
}
