@import '../partials/partials';

.login {
    &--failed {
        margin-bottom: 20px;

        color: red;
    }

    &-form {
        &__forgot-remember {
            width: 100%;
            padding: 0 10px;

            @include flex-center;
            justify-content: space-between;

            color: $accent;

            flex-wrap: wrap;

            @include devices(laptop) {
                padding: 0 20px;
            }
        }

        &__forgot-password {
            flex: 1;
            text-align: left;

            &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
            }
        }

        &__remember-me {
            flex: 1;
            margin-bottom: 0 !important;
            gap: 10px;

            justify-content: flex-end !important;
            flex-direction: row !important;

            .form-group {
                &__label {
                    padding: 0;

                    text-align: right;
                    font-size: $xxxxs;
                }

                &__row {
                    width: auto;
                    justify-content: flex-end;
                }
            }
        }
    }
}
