@import '../partials/partials';

.login {
    &--failed {
        margin-bottom: 20px;

        color: red;
    }

    &-form {
        &__forgot-remember {
            width: 100%;

            @include flex-center;
            justify-content: space-between;

            color: $accent;

            @include devices(tablet) {
                padding: 0 20px;
            }
        }

        &__remember-me {
            width: auto;
            margin-bottom: 0;
            gap: 10px;

            flex-direction: row;

            .form-group__label {
                font-size: $xxxxs;
                padding: 0;
            }
        }

        &__forgot-password {
            text-align: center;

            &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
            }
        }
    }
}
