@import '../partials/partials';

.register {
    .auth__image {
        flex: 0.75;
    }

    &-form {
        &__is-company {
            visibility: hidden;
        }

        &__names {
            width: 100%;

            @include flex-center;
            flex-direction: column;

            @include devices(desktop) {
                flex-direction: row;
                gap: 20px;
            }
        }

        &__company {
            display: none;
            width: 100%;
        }
    }
}
