@import '../../partials/partials';

.pricing-card {
    width: 100%;
    padding: 2em;

    border-radius: 25px;

    @include flex-center;
    flex-direction: column;

    background-color: $secondary;
    color: $dominant;

    box-shadow: $shadow-2xl;

    @include devices(laptop) {
        width: 50%;
    }

    &__heading {
        padding: 0.25em;
        padding-top: 0;

        font-size: $s;
        font-weight: 300;

        text-align: center;

        @include devices(desktop) {
            font-size: $l;
        }
    }

    &__properties-list {
        @include flex-center;
        flex-direction: column;

        color: $accent;
    }

    &__property-item {
        font-size: $xxs;

        @include devices(desktop) {
            font-size: $xs;
        }
    }
}

.price {
    color: $accent;

    @include flex-center;

    &__full {
        font-size: $xxxl;
        line-height: 100%;

        @include devices(tablet) {
            font-size: $xxxxl;
        }
    }

    &__rest-wrapper {
        @include flex-center;
        flex-direction: column;
    }

    &__rest,
    &__currency {
        font-size: $s;

        @include devices(tablet) {
            font-size: $m;
        }
    }
}
