@import '../../../partials/partials';

.faq {
    &__list {
        width: 90%;
        margin: 0 auto;

        @include flex-center;
        flex-direction: column;
        gap: 1em;

        z-index: 2;
    }
}
