@import '../../../partials/partials';

.pricing {
    &__box {
        @include flex-center;
        flex-direction: column;
        gap: 50px;

        @include devices(laptop) {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}
